body {
    padding-top: 3%; /* space for the top nav bar */
    font-size: 14px !important;
}

#pieChart > p{
    margin-left: 50px;
    width: 40%;
    padding-top: 15px;
}


html, body {
    height: auto;
    overflow: hidden;
}

svg{
    margin-left: 0%;
    /*width: 100% !important;
    height: 40% !important;*/
   /* width: 530px !important;
    height: 490px !important;*/
}


.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 36px);
    overflow: auto;
}


.report-dropdowns {
    margin-left: 7.5%;
    padding-top: 2%;
    font-size: 8px !important;
    visibility: hidden;   
}

.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 0%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 60% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 0;
    right: 0;
    
}
 
#issue_main { 
    height:  90vh;;
    border:1px solid silver; 
    padding:10px;
    
  } 

#projectview { 
    height: 80vh; 
 } 

#issueview { 
    height: calc(85vh);    
    border:1px solid silver;    
}
#issuetree { 
    height: calc(70vh); 
    overflow: auto; 
 } 

 
 #statsView { 
    overflow: auto;
    height: calc(100vh - 100px);
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }  

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 67%;
    top: 6%;
    right: 0;
    overflow: auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* IPad Pro Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* IPad Pro Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

html, body {
    height: auto;
    overflow: auto;
}
footer{
    position:static;
   }

body {
    padding-top: 5%; /* space for the top nav bar */
    font-size: 10px !important;
}

.button-ipad{
    margin-top: 80%;
}

svg{
    margin-left: -1%;
    width: 270px !important;
    height: 270px !important;
}

#pieChart {
    margin-left: -3%;
    width: 530px;
    height: 360px;
    margin-top: -10%;
}

#barChart {
    margin-left: -3%;
    width: 525px;
    height: 360px;
    margin-top: -10%;
}

.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 36px);
    overflow: auto;
}

.report-dropdowns {
    margin-left: 2%;
    padding-top: 1%;
    font-size: 7px !important;
    visibility: hidden;   
}

.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 50vh;
    left: 0%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 0%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 0%;
    right: 0;
    
}

#positionCharts {
    height: 92vh !important;
    width: 27vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 73%;
    top: 8%;
    right: 0;
    
}

}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 5%; /* space for the top nav bar */
   font-size: 12px !important;
}

svg{
    margin-left: 0%;
    width: 440px !important;
    height: 460px !important;
}

#pieChart {
    margin-left: -3%;
    width: 525px;
    height: 460px;
    margin-top: -3%;
}

.report-dropdowns {
    margin-left: 7.5%;
    padding-top: 2%;
    font-size: 8px !important;
    visibility: hidden;   
}

.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 0%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 0%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 100%!important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 0%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 67%;
    top: 6%;
    right: 0;
    overflow: auto;
}
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1367px) {
/* Styles */

html, body {
    height: 100%;
    overflow: hidden;
}

body {
   padding-top: 4%; /* space for the top nav bar */  
   font-size: 14px !important;
}

svg{
    margin-left: 2%;
    width: 640px !important;
    height: 460px !important;
}

#pieChart {
    margin-left: 2%;
    width: 725px;
    height: 460px;
    margin-top: -3%;
}

.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 36px);
    overflow: auto;
}

.report-dropdowns {
    margin-left: 4%;
    padding-top: 1%;
    font-size: 12px !important;
    visibility: hidden;   
}


.svgcanvas{
    margin-left: -5%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 0%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 0%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 0%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 69%;
    top: 6%;
    right: 0;
    overflow: auto;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

html, body {
    height: 100%;
    overflow: hidden;
}


body {
   padding-top: 3%; /* space for the top nav bar */  
   font-size: 14px !important;
}

svg{
    margin-left: 0%;
    width: 700px !important;
    height: 460px !important;
}

#pieChart {
    margin-left: 0%;
    width: 600px;
    height: 460px;
    margin-top: 0%;
}
.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 38px);
    overflow: auto;
}

.report-dropdowns {
    margin-left: 5%;
    padding-top: 1%;
    font-size: 14px !important;
    visibility: hidden;   
}


.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 0%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 0%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 100% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 0%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 66%;
    top: 6%;
    right: 0;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 30%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loader_stats {
    position: absolute;
    left: 59%;
    top: 60%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 60%;
    border-top: 16px solid #3498db; 
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  .custom{
  margin-bottom:10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spacer50 {
    height: 5vh;
  } 
.progress{
    height:30px;
}
.boardForOption{
    border:1px solid silver;  
   
}
.withBoard{
    border:1px solid silver;  
    height: 35vh; 
    border-radius:10px; 
    margin: 2%
 }
#foldersTree {
    
    overflow: auto;
}

.bigButton30{
    font-size: 30px;
}

.centerText{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .questionmark { 
    font-size: 25px;
    float: right;
    margin-right:25px;
    margin-top: 15px;
    cursor: pointer
 }

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}